<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Consumables</key>
	<array>
		<string>cn.hanwenbook.charge6</string>
		<string>cn.hanwenbook.charge12</string>
		<string>cn.hanwenbook.charge18</string>
		<string>cn.hanwenbook.charge24</string>
		<string>cn.hanwenbook.charge30</string>
		<string>cn.hanwenbook.charge36</string>
	</array>
</dict>
</plist>
